#Java
#
*.class

*.log


*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar


.idea/
*.iml
out/


target/
build/


.gradle/


gradle-app.setting

!gradle-wrapper.jar

.gradletasknamecache

#sonar
//sonar-project.properties